
a:link {
color : #000000;
text-decoration : none;
}
a:visited {
color : #790b83;
text-decoration : none;
}
a:hover {
text-decoration : underline;
}
  a {
  border:1px solid rgb(252, 252, 252);
  background-color:rgb(252, 252, 252); 
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  padding: 5px;
  position: relative;
   top: 10px;
  left: 400px
  
 }
  header {
      color:rgb(236, 55, 197);
      font-size: 160%
      }
  body {background-color:rgb(252, 231, 247);}
  p    {color: rgb(5, 2, 4);  
       margin: 100px;
      padding: 5px; }
      img {
          display: block;
          margin-left: auto;
          margin-right: auto;
         }
         footer {
      font-size: 70%
  }
  h2{
color:rgb(236, 55, 197);
font-size: 160%;

}